@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 700px;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.article{
    width: 80%;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 60px auto;
    background-color: skyblue;
    padding: 10px;
    border: 10px solid skyblue;
    border-radius: 20px;
}
.article h2{
    text-align: center;
    margin-bottom: 20px;
    /* border: 5px solid black;
    border-right: 0; 
    border-left: 0;
    border-top: 0; */
}
.article p{
    text-align: justify;
    line-height: 2em;
}
.article p .imp{
    font-size: 20px;
   
}
.article h2 u{
    color: yellow;
}
